
    <footer id="Footer" class="clearfix">
        <div class="widgets_wrapper" style="padding:150px 0 50px;">
            <div class="container">
                <div class="column one-third">
                    <aside class="widget_text widget widget_custom_html">
                        <h4>Find us here</h4>
                        <div class="textwidget custom-html-widget">
                            <hr class="no_line" style="margin: 0 auto 10px;" />
                            <p>
                                <a href="www.facebook.com/signcomafrica"><i class="icon-facebook"></i></a>
                                <a href="www.google.com/signcomafrica"><i class="icon-gplus"></i></a>
                                <a href="www.twitter.com/signcomafrica"><i class="icon-twitter"></i></a>
                                <a href="www.linkedin.com/singcomafrica"><i class="icon-linkedin"></i></a>
                            </p>
                        </div>
                    </aside>
                </div>
                <div class="column one-third">
                    <aside class="widget_text widget widget_custom_html">
                        <h4>Contact with us</h4>
                        <div class="textwidget custom-html-widget">
                            <hr class="no_line" style="margin: 0 auto 10px;" />
                            <p>
                                You can always Reach us
                                <br> Using the following details:
                            </p>
                            <p>
                                +233 20 219 4323
                                <br>
                                <a href="mailto:info@signcomafrica.com">info@signcomafrica.com</a>
                            </p>
                        </div>
                    </aside>
                </div>
                <div class="column one-third">
                    <aside class="widget_text widget widget_custom_html">
                        <h4>Localization</h4>
                        <div class="textwidget custom-html-widget">
                            <hr class="no_line" style="margin: 0 auto 10px;" /> Signcom Africa Ltd.
                            <br> PMB AN 10906, 
                            <br> Spintex, Accra North,
                            <br> Ghana
                        </div>
                    </aside>
                </div>
            </div>
        </div>
        <div class="footer_copy">
            <div class="container">
                <div class="column one">
                    <a id="back_to_top" class="button button_js" href="#"><i class="icon-up-open-big"></i></a>
                    <div class="copyright">
                        &copy; 2020 Signcom Africa - Designed by <a target="_blank" rel="nofollow" href="">Harmony Alabi</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>



    <!-- JS -->
    <script src="assets/js/jquery-2.1.4.min.js"></script>

    <script src="assets/js/mfn.menu.js"></script>
    <script src="assets/js/jquery.plugins.js"></script>
    <script src="assets/js/jquery.jplayer.min.js"></script>
    <script src="assets/js/animations/animations.js"></script>
    <script src="assets/js/translate3d.js"></script>
    <script src="assets/js/scripts.js"></script>
    <script src="assets/js/email.js"></script>


    <script src="assets/plugins/rs-plugin-5.3.1/js/jquery.themepunch.tools.min.js"></script>
    <script src="assets/plugins/rs-plugin-5.3.1/js/jquery.themepunch.revolution.min.js"></script>

    <script src="assets/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.video.min.js"></script>
    <script src="assets/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="assets/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="assets/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="assets/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="assets/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="assets/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="assets/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.parallax.min.js"></script>

	<script>
	var revapi1, tpj;
		( function() {
				if (!/loaded|interactive|complete/.test(document.readyState))
					document.addEventListener("DOMContentLoaded", onLoad);
				else
					onLoad();
				function onLoad() {
					if (tpj === undefined) {
						tpj = jQuery;
						if ("off" =="on")
							tpj.noConflict();
					}
					if (tpj("#rev_slider_1_1").revolution == undefined) {
						revslider_showDoubleJqueryError("#rev_slider_1_1");
					} else {
						revapi1 = tpj("#rev_slider_1_1").show().revolution({
							sliderType :"standard",
							sliderLayout :"auto",
							dottedOverlay :"none",
							delay : 9000,
							navigation : {
								onHoverStop :"off",
							},
							visibilityLevels : [1240, 1024, 778, 480],
							gridwidth : 1080,
							gridheight : 900,
							lazyType :"none",
							parallax : {
								type :"scroll",
								origo :"enterpoint",
								speed : 400,
								speedbg : 0,
								speedls : 0,
								levels : [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 55],
							},
							shadow : 0,
							spinner :"spinner2",
							stopLoop :"off",
							stopAfterLoops : -1,
							stopAtSlide : -1,
							shuffle :"off",
							autoHeight :"off",
							disableProgressBar :"on",
							hideThumbsOnMobile :"off",
							hideSliderAtLimit : 0,
							hideCaptionAtLimit : 0,
							hideAllCaptionAtLilmit : 0,
							debugMode : false,
							fallbacks : {
								simplifyAll :"off",
								nextSlideOnWindowFocus :"off",
								disableFocusListener : false,
							}
						});
					};
				};
			}());
	</script>

</body>

</html>
