<!DOCTYPE html>
<html ng-app="myApp" class="js">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><?php echo $_GET['title']; ?></title>
    <meta name="description" content="<?php echo $_GET['description']; ?>">
    <meta name="keywords" content="Marketing, Digital Signage, SigncomAfrica, Signcom Africa">
    <meta name="author" content="HARMONY ALABI">
    <meta name="copyright" content="Acyst Technology" />
    <meta name="application-name" content="Signcom Africa Website" />
    <meta name="robots" content="no-follow, no-index">
    <!-- <base href="http://localhost:8888/signage/"> -->
    
    <base href="https://signcomafrica.com/">

    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/images/icon/favicon.png">

    <!-- for Facebook -->
    <meta property="og:type" content="Corporate"/>
    <meta property="og:title" content="<?php echo $_GET['title']; ?>"/>
    <meta property="og:image" content="https://signcomafrica.com/assets/images/hosting2-home-paper-airplane.png"/>
    <meta property="og:url" content="https://signcomafrica.com/"/>
    <meta property="fb:admins" content="333416310773872"/>
    <meta property="og:site_name" content="Signcom Africa Website"/>
    <meta property="og:description" content="<?php echo $_GET['description']; ?>"/>
    
    <!-- Schema.org markup for Google+ -->
    <meta itemscope="" itemtype="http://schema.org/Coporate">
    <meta itemprop="name" content="Signcom Africa">
    <meta itemprop="image" content="https://signcomafrica.com/assets/images/hosting2-home-paper-airplane.png">
    <meta itemprop="description" content="<?php echo $_GET['description']; ?>">
    
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@signcomafrica">
    <meta name="twitter:title" content="<?php echo $_GET['title']; ?>">
    <meta name="twitter:description" content="<?php echo $_GET['description']; ?>">
    <meta name="twitter:creator" content="@Signcomafrica">
    <meta name="twitter:image" content="https://signcomafrica.com/assets/images/hosting2-home-paper-airplane.png">

    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/images/icon.png">

    <!-- FONTS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:100,300,400,400italic,500,700,700italic' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:100,300,400,400italic,500,700,700italic' />

    <!-- CSS -->
    <link rel='stylesheet' href='assets/css/global.css'>
    <link rel='stylesheet' href='assets/css/structure.css'>
    <link rel='stylesheet' href='assets/css/hosting2.css'>
    <link rel='stylesheet' href='assets/css/custom.css'>

    <!-- Revolution Slider -->
    <!-- <link rel="stylesheet" href="assets/plugins/rs-plugin-5.3.1/css/settings.css"> -->
    
    <!-- Bootstrap Tour -->
    <!-- <link href="assets/css/plugins/bootstrapTour/bootstrap-tour.min.css" rel="stylesheet"> -->
    <!-- <script src="assets/js/jquery-1.11.3.min.js"></script>
    <script src="assets/js/bootstrap-4.0.0.min.js"></script>
    <script src="assets/preloader.js"></script> -->
<!--     <script src="assets/js/core/post.js"></script>
    <script src="assets/js/core/update.js"></script> -->
</head>

<body class="home page-template-default page template-slider color-custom style-simple button-default layout-full-width no-shadows header-transparent minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-right menuo-no-borders mobile-tb-center mobile-mini-mr-ll tablet-sticky mobile-header-mini mobile-sticky be-reg-2103">

    <!-- <div class="preloader-wrapper">
        <div class="preloader">
            <img src="assets/img/2.gif" alt="Loader">
        </div>
    </div> -->