<div id="Wrapper">
    <div id="Header_wrapper">
        <header id="Header">
            <div id="Top_bar">
                <div class="container">
                    <div class="column one">
                        <div class="top_bar_left clearfix">
                            <div class="logo">
                                <a id="logo" href="home" title="BeHosting 2 - BeTheme" data-height="60" data-padding="15">
                                    <img class="logo-main scale-with-grid" src="assets/images/logo.png" data-retina="assets/images/logo-retina.png" data-height="28" data-no-retina />
                                    <img class="logo-sticky scale-with-grid" src="assets/images/logo.png" data-retina="assets/images/logo-retina.png" data-height="28" data-no-retina />
                                    <img class="logo-mobile scale-with-grid" src="assets/images/logo.png" data-retina="assets/images/logo-retina.png" data-height="28" data-no-retina />
                                    <img class="logo-mobile-sticky scale-with-grid" src="assets/images/logo.png" data-retina="assets/images/logo-retina.png" data-height="28" data-no-retina /></a>
                            </div>
                            <div class="menu_wrapper">
                                <nav id="menu">
                                    <ul id="menu-menu" class="menu menu-main">
                                        <li class="current-menu-item">
                                            <a href="home"><span>Home</span></a>
                                        </li>
                                        <li>
                                            <a href="services"><span>Services</span></a>
                                        </li>
                                        <!-- <li>
                                            <a href="content/hosting2/details.html"><span>Details</span></a>
                                        </li> -->
                                        <li>
                                            <a href="about_us"><span>About</span></a>
                                        </li>
                                        <li>
                                            <a href="contact_us"><span>Contact</span></a>
                                        </li>
                                    </ul>
                                </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php 
                if($_GET['page'] == 'Home') {
                    require_once('slider.phtml');
                }
            ?>
            
        </header>
    </div>