
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section mcb-section-32ijqfyu5 bg-cover" style="padding-top:300px; padding-bottom:250px; background-image:url(assets/images/hosting2-company-intro-bg.jpg); background-repeat:no-repeat; background-position:right top;">
                    <div class="section-decoration top" style="background-image:url(assets/images/hosting-2-header-top-bg.png);height:150px"></div>
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-cyfupr0tl one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-2kug52ebl one column_placeholder">
                                    <div class="placeholder">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-decoration bottom" style="background-image:url(images/hosting2-company-bottom-decor.png);height:109px"></div>
                </div>
                <div class="section mcb-section mcb-section-w8jym2psz" style="padding-top:0px; padding-bottom:0px; background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-54ydx4155 one-second hosting2-borderradius valign-top move-up clearfix" style="padding:70px 5% 50px; background-color:#01ddd2; margin-top:-300px" data-mobile="no-up">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-3xlytwwbe one column_column">
                                    <div class="column_attr clearfix">
                                        <h2>About Us.</h2>
                                        <hr class="no_line" style="margin: 0 auto 20px;" />
                                        <p>
                                            We are a <b>digital communications and technology</b> company that provides internal communications with digital signage, digital advertising with digital signage, social media management/marketing, and digital content creation services to Individuals and businesses of all sizes, principally in and around Accra, but also to companies throughout Ghana. 
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-xciw0frxv one-second column_button">
                                    <a class="button button_size_2 button_js" href="contact" style="background-color:#171d70!important;color:#fff;"><span class="button_label">Discover more</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-h5b8oqv9b" style="padding-top:125px; padding-bottom:50px; background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-1jowbwti5 one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-dzbvyupo6 one column_column">
                                    <div class="column_attr clearfix align_center">
                                        <h2>Reaching your audience
                                            <br> where they are in real time</h2>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-5i7znia4m one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 40px;" />
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-ufd2kbyjx two-third valign-top clearfix" style="padding:0 3%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-51663orac one column_tabs">
                                    <div class="jq-tabs tabs_wrapper tabs_vertical">
                                        <!-- <ul>
                                            <li>
                                                <a href="#history">HISTORY</a>
                                            </li>
                                            <li>
                                                <a href="#why">WHY WORK WITH US</a>
                                            </li>
                                            <li>
                                                <a href="#mission">OUR MISSION</a>
                                            </li>
                                            <li>
                                                <a href="#vision">OUR VISION</a>
                                            </li>
                                        </ul> -->
                                        <div id="history">
                                            <h3>History</h3>
                                            <p>
                                                Originally established in November 2016 as Signage Africa, the company was set up by a dedicated team of creative individuals with the aim of providing a high quality, cost effective and professional service to its clients. In October 2018 we incorporated and rebranded the company as Signcom Africa, we are continually moving forward and striving to improve our products and associated support services. 
                                            </p>
                                        </div>
                                        <div id="why">
                                            <h3>Why work with us</h3>
                                            <p>
                                                We love digital signage and our mission is to bring digital signage to every business. This is not only beneficial to the businesses we serve but the planet in general by saving the amount of trees used to create traditional paper signs.
                                            </p>
                                        </div>
                                        <div id="mission">
                                            <h3>Our Mission</h3>
                                            <p>
                                                Signcom Africa is committed to total customer satisfaction. We deliver best-of-breed digital communications and technology solutions designed to assist our clients in building, expanding, and optimizing their IT and Digital communications environment. We strive to provide these solutions in the most cost-effective manner possible while providing the highest quality service in the industry. 
                                            </p>
                                        </div>
                                        <div id="vision">
                                            <h3>Our Vision</h3>
                                            <p>
                                                Signcom Africa aspires to be a leading digital communications brand in Africa by helping businesses of all sizes in Africa access and explore the full potential of digital communications.  
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-emkf9hdyw one-third valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-7fd2xxl0h one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/hosting2-company-burger-icon.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-oshz091hc equal-height-wrap" style="padding-top:25px; padding-bottom:0px; background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-yqliic49i one-second valign-middle clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-gfl0dhuu2 five-sixth column_column">
                                    <div class="column_attr clearfix">
                                        <h3>Our Goal</h3>
                                        <hr class="no_line" style="margin: 0 auto 10px;" />
                                        <p>
                                            Meeting and exceeding the expectations of our clients is how we measure customer satisfaction. Our goal is to bring tailored digital communications solutions to consumers, which drives exponential business growth. We aim to continue as your organization's number one Digital communications solutions and technology provider. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-q98wc7yif one-second valign-middle clearfix" style="padding:0 3%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-k2j3fb7un one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="assets/images/hosting2-company-icons-connected.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-mz0jfpmyw" style="padding-top:0px; padding-bottom:75px; background-color:" hidden>
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-gjrm53oyi one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-2ly6a9uq3 one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 40px;" />
                                </div>
                                <div class="column mcb-column mcb-item-dvlto8f5f one-sixth column_placeholder">
                                    <div class="placeholder">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-9wp4o59wx two-third column_column">
                                    <div class="column_attr clearfix align_center">
                                        <p>
                                            Ut ultricies imperdiet sodales. Aliquam fringilla aliquam ex sit amet elementum. Proin bibendum sollicitudin feugiat. Curabitur ut egestas justo, vitae molestie ante. Integer magna purus, commodo in diam nec, pretium auctor sapien. In pulvinar, ipsum
                                            eu dignissim facilisis, massa justo varius purus, non dictum elit nibh ut massa. Nam massa erat, aliquet a rutrum eu, sagittis ac nibh. Pellentesque velit dolor, suscipit in ligula a, suscipit rhoncus
                                            dui.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>