
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section mcb-section-rxl33tld1 bg-cover" style="padding-top:250px; padding-bottom:100px; background-image:url(assets/images/hosting2-contact-bg.jpg); background-repeat:no-repeat; background-position:center top;">
                    <div class="section-decoration top" style="background-image:url(assets/images/hosting-2-header-top-bg.png);height:150px"></div>
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-okcncgukh one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-lo4eih1mo one column_column">
                                    <div class="column_attr clearfix align_center" style=" padding:0 5%;">
                                        <h3>Reach out to us we are always here to help with all questions with regards to the services we offer.</h3>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-hgv0fe1h4 one column_button">
                                    <div class="button_align align_center">
                                        <a class="button button_size_3 button_js" href="offer.html" style="background-color:#01ddd2!important;color:#171d70;"><span class="button_label">Discover more</span></a>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-s9uvw7tmr one column_column">
                                    <div class="column_attr clearfix align_center">
                                        <h3>Call us for help and support <b>+233 20 219 4323</b></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-decoration bottom" style="background-image:url(images/hosting2-contact-section-decor.png);height:84px"></div>
                </div>
                <div class="section mcb-section mcb-section-c0gk3jloi" style="padding-top:100px; padding-bottom:100px; background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-plyyv1uey three-fifth valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-a4yn1vy1n five-sixth column_column">
                                    <div class="column_attr clearfix">
                                        <h4><b>How do we work</b></h4>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-8fbbl8e4k five-sixth column_list">
                                    <div class="list_item lists_4 clearfix">
                                        <div class="circle">
                                            1
                                        </div>
                                        <div class="list_right">
                                            <div class="desc">
                                                We first listen and pay attention to the pain points of our clients so we can adequately proffer a tailored solution for their problems.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-kv4dmhluw five-sixth column_list">
                                    <div class="list_item lists_4 clearfix">
                                        <div class="circle">
                                            2
                                        </div>
                                        <div class="list_right">
                                            <div class="desc">
                                                Second, based on our analysis of the problems of our clients, we propose and present tailored solutions for their review and selection.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-va3vffx9c five-sixth column_list">
                                    <div class="list_item lists_4 clearfix">
                                        <div class="circle">
                                            3
                                        </div>
                                        <div class="list_right">
                                            <div class="desc">
                                                Finally, based on the selected solution choice of our clients we start the implementation process as desired by our clients.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-ujwkt2ug2 two-fifth hosting2-borderradius valign-top clearfix" style="padding:50px 50px 20px; background-color:#01ddd2">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-mkf4pyahl one column_column">
                                    <div class="column_attr clearfix">
                                        <h4><b>Our address</b></h4>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-pisi7wuyq five-sixth column_column">
                                    <div class="column_attr clearfix" style=" background-image:url('images/hosting2-map-marker.png'); background-repeat:no-repeat; background-position:left top; padding:0 0 0 50px;">
                                        <p class="big">
                                            Signcom Africa Ltd.
                                        </p>
                                        <p>
                                            PMB AN 10906, Spintex, Accra North, Ghana.
                                        </p>
                                        <p> +233 20 219 4323
                                            <br>
                                            <a href="mailto:signcomafrica@gmail.com">info@signcomafrica.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-4qte2zk3i" style="padding-top:0px; padding-bottom:0px; background-color:" hidden>
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-cr37rt5ka one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-n6xy192x8 one column_column">
                                    <div class="column_attr clearfix align_center">
                                        <h2>Frequently asked questions</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-dsdv93xyn one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-6shwpmmr4 one-fifth column_placeholder">
                                    <div class="placeholder">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-t569o9cxc three-fifth column_faq">
                                    <div class="faq">
                                        <div class="mfn-acc faq_wrapper open1st">
                                            <div class="question">
                                                <div class="title">
                                                    <span class="num">1</span><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Lorem ipsum
                                                </div>
                                                <div class="answer">
                                                    Nunc sed faucibus magna, a porta libero. Vestibulum nec ipsum tempor, congue lorem ut, sagittis mauris. Aenean a nisi elit. Etiam at libero in lectus lacinia semper id vel nisl. Etiam id hendrerit velit, at sodales nulla. Donec vehicula tortor sed suscipit
                                                    volutpat. Aliquam convallis ac ligula ut elementum. Aliquam et facilisis nunc.
                                                </div>
                                            </div>
                                            <div class="question">
                                                <div class="title">
                                                    <span class="num">2</span><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Proin commodo ac
                                                </div>
                                                <div class="answer">
                                                    Nunc sed faucibus magna, a porta libero. Vestibulum nec ipsum tempor, congue lorem ut, sagittis mauris. Aenean a nisi elit. Etiam at libero in lectus lacinia semper id vel nisl. Etiam id hendrerit velit, at sodales nulla. Donec vehicula tortor sed suscipit
                                                    volutpat. Aliquam convallis ac ligula ut elementum. Aliquam et facilisis nunc.
                                                </div>
                                            </div>
                                            <div class="question">
                                                <div class="title">
                                                    <span class="num">3</span><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Quantum es omnia
                                                </div>
                                                <div class="answer">
                                                    Nunc sed faucibus magna, a porta libero. Vestibulum nec ipsum tempor, congue lorem ut, sagittis mauris. Aenean a nisi elit. Etiam at libero in lectus lacinia semper id vel nisl. Etiam id hendrerit velit, at sodales nulla. Donec vehicula tortor sed suscipit
                                                    volutpat. Aliquam convallis ac ligula ut elementum. Aliquam et facilisis nunc.
                                                </div>
                                            </div>
                                            <div class="question">
                                                <div class="title">
                                                    <span class="num">4</span><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Delibris quanta
                                                </div>
                                                <div class="answer">
                                                    Nunc sed faucibus magna, a porta libero. Vestibulum nec ipsum tempor, congue lorem ut, sagittis mauris. Aenean a nisi elit. Etiam at libero in lectus lacinia semper id vel nisl. Etiam id hendrerit velit, at sodales nulla. Donec vehicula tortor sed suscipit
                                                    volutpat. Aliquam convallis ac ligula ut elementum. Aliquam et facilisis nunc.
                                                </div>
                                            </div>
                                            <div class="question">
                                                <div class="title">
                                                    <span class="num">5</span><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Faculis omnia at
                                                </div>
                                                <div class="answer">
                                                    Nunc sed faucibus magna, a porta libero. Vestibulum nec ipsum tempor, congue lorem ut, sagittis mauris. Aenean a nisi elit. Etiam at libero in lectus lacinia semper id vel nisl. Etiam id hendrerit velit, at sodales nulla. Donec vehicula tortor sed suscipit
                                                    volutpat. Aliquam convallis ac ligula ut elementum. Aliquam et facilisis nunc.
                                                </div>
                                            </div>
                                            <div class="question">
                                                <div class="title">
                                                    <span class="num">6</span><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Nulla es at
                                                </div>
                                                <div class="answer">
                                                    Nunc sed faucibus magna, a porta libero. Vestibulum nec ipsum tempor, congue lorem ut, sagittis mauris. Aenean a nisi elit. Etiam at libero in lectus lacinia semper id vel nisl. Etiam id hendrerit velit, at sodales nulla. Donec vehicula tortor sed suscipit
                                                    volutpat. Aliquam convallis ac ligula ut elementum. Aliquam et facilisis nunc.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-dxyirkzhe" style="padding-top:100px; padding-bottom:75px; background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-f0ye6apjd one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-arfodo45u one column_column">
                                    <div class="column_attr clearfix align_center">
                                        <h2>You Can always Contact Us if you have any question</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-4em15m7at one valign-top clearfix" style="padding:0 5%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-hx7fq2dzq one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 20px;" />
                                </div>
                                <div class="column mcb-column mcb-item-etu7k3cya one column_column">
                                    <div class="column_attr clearfix">
                                        <div id="contactWrapper">
                                            <form id="contactform">
                                                <!-- One Second (1/2) Column -->
                                                <div class="column one-second">
                                                    <input placeholder="Your name" type="text" name="name" id="name" size="40" aria-required="true" aria-invalid="false" />
                                                </div>
                                                <!-- One Second (1/2) Column -->
                                                <div class="column one-second">
                                                    <input placeholder="Your e-mail" type="email" name="email" id="email" size="40" aria-required="true" aria-invalid="false" />
                                                </div>
                                                <div class="column one">
                                                    <input placeholder="Subject" type="text" name="subject" id="subject" size="40" aria-invalid="false" />
                                                </div>
                                                <div class="column one">
                                                    <textarea placeholder="Message" name="body" id="body" style="width:100%;" rows="10" aria-invalid="false"></textarea>
                                                </div>
                                                <div class="column one">
                                                    <input type="button" value="Send A Message" id="submit" onClick="return check_values();">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-0740takis" style="padding-top:0px; padding-bottom:75px; background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-n6e2mgg45 one-third valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-grdlp9o7l one column_icon_box">
                                    <div class="icon_box icon_position_top no_border">
                                        <a href="#">
                                            <div class="icon_wrapper">
                                                <div class="icon">
                                                    <i class="icon-mail-line"></i>
                                                </div>
                                            </div>
                                            <div class="desc_wrapper">
                                                <div class="desc">
                                                    Have any questions?
                                                    <br>
                                                    <h5><span>info@signcomafrica.com</span></h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-23k5zztuj one-third valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-0o7fmw1i7 one column_icon_box">
                                    <div class="icon_box icon_position_top no_border">
                                        <a href="#">
                                            <div class="icon_wrapper">
                                                <div class="icon">
                                                    <i class="icon-call"></i>
                                                </div>
                                            </div>
                                            <div class="desc_wrapper">
                                                <div class="desc">
                                                    Call us
                                                    <br>
                                                    <h5>+233 20 219 4323</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-ivdf9f6vn one-third valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-a9ynq8kun one column_icon_box">
                                    <div class="icon_box icon_position_top no_border">
                                        <a href="#">
                                            <div class="icon_wrapper">
                                                <div class="icon">
                                                    <i class="icon-print"></i>
                                                </div>
                                            </div>
                                            <div class="desc_wrapper">
                                                <div class="desc">
                                                    Fax
                                                    <br>
                                                    <h5>+233 20 219 4323</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>