<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section mcb-section-05157119a equal-height-wrap" style="padding-top:120px;padding-bottom:0px;background-image:url(assets/images/seo3-sectionbg8.png);background-repeat:no-repeat;background-position:center top;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-1b9d871b1 one-second valign-middle clearfix" style="padding:0 5% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-30a65dc12 one column_column">
                                    <div class="column_attr clearfix" style>
                                        <h6 class="seo3-heading">FAQ</h6>
                                        <hr class="no_line" style="margin: 0 auto 15px;">
                                        <h1>Frequently Asked Questions</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-41b857102 one-second valign-middle clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-789289f69 one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/seo3-faq-pic1.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-i26d155as bg-cover-ultrawide" style="padding-top:80px;padding-bottom:0px;background-image:url(assets/images/seo3-sectionbg1.png);background-repeat:no-repeat;background-position:center;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-qcojslljm one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-sv00tcktx one column_faq">
                                    <div class="faq">
                                        <div class="mfn-acc faq_wrapper open1st">
                                            <div class="question">
                                                <div class="title">
                                                    <span class="num">1</span><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Dapibus risus ante sodales lectus blandit?
                                                </div>
                                                <div class="answer">
                                                    Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis
                                                    ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et
                                                    interdum adipiscing wisi.
                                                </div>
                                            </div>
                                            <div class="question">
                                                <div class="title">
                                                    <span class="num">2</span><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Gravida vitae, dapibus risus ante sodales lectus?
                                                </div>
                                                <div class="answer">
                                                    Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis
                                                    ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et
                                                    interdum adipiscing wisi.
                                                </div>
                                            </div>
                                            <div class="question">
                                                <div class="title">
                                                    <span class="num">3</span><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Lorem ipsum primis in nibh vel risus?
                                                </div>
                                                <div class="answer">
                                                    Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis
                                                    ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et
                                                    interdum adipiscing wisi.
                                                </div>
                                            </div>
                                            <div class="question">
                                                <div class="title">
                                                    <span class="num">4</span><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Nullam viverra consectetuer?
                                                </div>
                                                <div class="answer">
                                                    Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis
                                                    ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et
                                                    interdum adipiscing wisi.
                                                </div>
                                            </div>
                                            <div class="question">
                                                <div class="title">
                                                    <span class="num">5</span><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Quisque cursus et, porttitor risus?
                                                </div>
                                                <div class="answer">
                                                    Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis
                                                    ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et
                                                    interdum adipiscing wisi.
                                                </div>
                                            </div>
                                            <div class="question">
                                                <div class="title">
                                                    <span class="num">6</span><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Dapibus risus ante sodales lectus blandit?
                                                </div>
                                                <div class="answer">
                                                    Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis
                                                    ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et
                                                    interdum adipiscing wisi.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-aw3fv7587 one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 70px;">
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-vgqevbyt1 one seo3-wrap valign-top clearfix" style="padding:40px 40px 0;background-color:#372b7d">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-9m992ff06 one-third column_column">
                                    <div class="column_attr clearfix" style="padding:0 8% 0 0;">
                                        <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/seo3-faq-icon1.png">
                                            </div>
                                        </div>
                                        <hr class="no_line" style="margin: 0 auto 20px;">
                                        <h4 style="color: #fff;">Nulla sit amet</h4>
                                        <p style="color: #e1e1ff;">
                                            Aliquet non urna. Nulla sit amet magna, eget libero vestibulum.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-3d93uhao3 one-third column_column">
                                    <div class="column_attr clearfix" style="padding:0 8% 0 0;">
                                        <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/seo3-faq-icon2.png">
                                            </div>
                                        </div>
                                        <hr class="no_line" style="margin: 0 auto 20px;">
                                        <h4 style="color: #fff;">Vestibulum magna</h4>
                                        <p style="color: #e1e1ff;">
                                            Aliquet non urna. Nulla sit amet magna, eget libero vestibulum.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-7zo3k1xll one-third column_column">
                                    <div class="column_attr clearfix" style="padding:0 8% 0 0;">
                                        <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/seo3-faq-icon3.png">
                                            </div>
                                        </div>
                                        <hr class="no_line" style="margin: 0 auto 20px;">
                                        <h4 style="color: #fff;">Eget libero</h4>
                                        <p style="color: #e1e1ff;">
                                            Aliquet non urna. Nulla sit amet magna, eget libero vestibulum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-e4f5f256e bg-cover-ultrawide" style="padding-top:150px;padding-bottom:0px;background-image:url(assets/images/seo3-sectionbg4.png);background-repeat:no-repeat;background-position:center;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-03eb549c1 one-second valign-top clearfix" style="padding:0 7% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-410f26ed9 one column_column column-margin-20px">
                                    <div class="column_attr clearfix" style>
                                        <h6 class="seo3-heading">OUR WORK</h6>
                                        <hr class="no_line" style="margin: 0 auto 15px;">
                                        <h2>Why customers loves us?</h2>
                                        <hr class="no_line" style="margin: 0 auto 15px;">
                                        <p>
                                            We are an ambitious and highly focused company with the goal of bringing Ghana to the forefront of Customer Service globally.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-d0416b7ab one column_column column-margin-10px">
                                    <div class="column_attr clearfix" style="background-image:url('assets/images/seo3-home-icon4.png');background-repeat:no-repeat;background-position:left top;padding:16px 0 0 80px;">
                                        <h5>Our Training Methods</h5>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-69e371193 one column_column">
                                    <div class="column_attr clearfix" style="background-image:url('assets/images/seo3-home-icon5.png');background-repeat:no-repeat;background-position:left top;padding:16px 0 0 80px;">
                                        <h5>Special Experience</h5>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-5dd0e26bc one column_button">
                                    <a class="button button_size_2 button_dark button_js" href="contact.html"><span class="button_label">About us</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-7bf8f60fb one-second valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-0fcdfebb5 one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/seo3-home-pic2.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-2b0b61871 bg-cover-ultrawide" style="padding-top:300px;padding-bottom:0px;background-color:#372b7d;background-image:url(assets/images/seo3-sectionbg6.jpg);background-repeat:no-repeat;background-position:center top;">
                    <!-- <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-4cbcb3c78 one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-bf992f9ae one-fifth column_placeholder">
                                    <div class="placeholder">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-5a08d23e2 three-fifth column_column">
                                    <div class="column_attr clearfix align_center" style>
                                        <h6 class="seo3-heading">JOIN TO US</h6>
                                        <hr class="no_line" style="margin: 0 auto 15px;">
                                        <h2 style="color: #fff;">Newsletter</h2>
                                        <hr class="no_line" style="margin: 0 auto 30px;">
                                        <form id="newsletterform" class="newsletter_form">
                                            <input placeholder="Your e-mail" type="email" id="email_news" name="email_news" size="40" aria-required="true" aria-invalid="false" />
                                            <input type="button" value="Sign up" id="submit" onClick="return check_values_news();">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>