
        <div id="Content">
            <div class="content_wrapper clearfix">
                <div class="sections_group">
                    <div class="entry-content">
                        <div class="section mcb-section mcb-section-sh2kj2m6i" style="padding-top:0px; padding-bottom:50px; background-color:">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap mcb-wrap-gro5syjjd one valign-top move-up clearfix" style="margin-top:-50px" data-mobile="no-up">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column mcb-item-1n7hae2wu one column_column">
                                            <div class="column_attr clearfix align_center">
                                                <h2>Our services</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap mcb-wrap-nui0nsq62 one-third valign-top clearfix" style="padding:0 1%">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column mcb-item-vooo30jui one column_icon_box">
                                            <div class="icon_box icon_position_left no_border">
                                                <a href="services">
                                                    <div class="image_wrapper"><img src="assets/images/hosting2-home-icon-2.png" class="scale-with-grid" />
                                                    </div>
                                                    <div class="desc_wrapper">
                                                        <h4 class="title">Digital Signage</h4>
                                                        <div class="desc">
                                                            <p>
                                                            Indoor Digital Advertising: Internal communications Consulting Procurement & Installation
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap mcb-wrap-2yzju7iki one-third valign-top clearfix" style="padding:0 1%">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column mcb-item-mu42yis9l one column_icon_box">
                                            <div class="icon_box icon_position_left no_border">
                                                <a href="services">
                                                    <div class="image_wrapper"><img src="assets/images/hosting2-home-icon-3.png" class="scale-with-grid" />
                                                    </div>
                                                    <div class="desc_wrapper">
                                                        <h4 class="title">Social media</h4>
                                                        <div class="desc">
                                                            <p>
                                                            Brand page Management, Advertising and Content Creation.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap mcb-wrap-mtye7aor1 one-third valign-top clearfix" style="padding:0 1%">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column mcb-item-ydae4owi5 one column_icon_box">
                                            <div class="icon_box icon_position_left no_border">
                                                <a href="services">
                                                    <div class="image_wrapper"><img src="assets/images/hosting2-home-icon-1.png" class="scale-with-grid" />
                                                    </div>
                                                    <div class="desc_wrapper">
                                                        <h4 class="title">Website Dev.</h4>
                                                        <div class="desc">
                                                            <p>
                                                            Website design, App development, Graphic design, Photography & Videography
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section mcb-section mcb-section-jlo4hi97l dark equal-height-wrap" style="padding-top:150px; padding-bottom:150px; background-color:#180d5b">
                            <div class="section-decoration top" style="background-image:url(assets/images/hosting2-home-top-decor.png);height:135px"></div>
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap mcb-wrap-iwcu2qu5v one-second valign-middle clearfix">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column mcb-item-0vl948hfw four-fifth column_column">
                                            <div class="column_attr clearfix">
                                                <h2>Communicating effectively <br> in a digital world.</h2>
                                                <hr class="no_line" style="margin: 0 auto 10px;" />
                                                <p>
                                                    Demystifying and exploring the capabilities of digital communications for total business transformation.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="column mcb-column mcb-item-5wihz4zgd one-second column_button">
                                            <a class="button button_size_3 button_js" href="services" style="background-color:#c4c3f7!important;color:#180d5b;"><span class="button_label">Discover more</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap mcb-wrap-bzgkrle49 one-second valign-middle clearfix">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column mcb-item-lp9c0thc7 one column_image">
                                            <div class="animate" data-anim-type="fadeInUp">
                                                <div class="image_frame image_item no_link scale-with-grid no_border">
                                                    <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/hosting2-home-man.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-decoration bottom" style="background-image:url(assets/images/hosting2-home-bottom-decor.png);height:126px"></div>
                        </div>
                        <div class="section mcb-section mcb-section-gvow1i986 equal-height-wrap" style="padding-top:100px; padding-bottom:75px; background-color:">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap mcb-wrap-ex7xbej8j one-second valign-middle clearfix" style="padding:0 2%">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column mcb-item-cfq9auzsr one column_image">
                                            <div class="image_frame image_item no_link scale-with-grid no_border">
                                                <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/hosting2-home-paper-airplane.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap mcb-wrap-jb17v63h5 one-second valign-middle clearfix" style="padding:0 2%">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column mcb-item-qq3epjzo8 five-sixth column_column">
                                            <div class="column_attr clearfix">
                                                <h3>Power Up Your <br> Communication</h3>
                                                <hr class="no_line" style="margin: 0 auto 10px;" />
                                                <p>
                                                Digital Signage is a network of customizable displays that can be controlled electronically using a computer, allowing content to be changed remotely for the most targeted messaging possible. Digital signage is used for a wide variety of purposes including customer facing and employee-facing applications such as advertising, enhancing customer or employee experiences, influencing audience behavior, brand building, entertainment, security, interactive kiosks, creating corporate communities, etc. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section mcb-section mcb-section-q5v6zqplj equal-height-wrap" style="padding-top:100px; padding-bottom:75px; background-color:">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap mcb-wrap-gs5rm62z2 one-second valign-middle clearfix" style="padding:0 2%">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column mcb-item-iawys5pml five-sixth column_column">
                                            <div class="column_attr clearfix">
                                                <div class="image_frame image_item no_link scale-with-grid no_border" style="margin-bottom:15px;">
                                                    <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/hosting2-home-icon-5.png" />
                                                    </div>
                                                </div>
                                                <h3>Digital Signage Procurement 
                                                    <br> & Installation
                                                    <!-- <br> es omnia -->
                                                </h3>
                                                <hr class="no_line" style="margin: 0 auto 10px;" />
                                                <p>
                                                    Graphic design, Video production: Promotional videos, Video Documentary, Corporate videos, Video editing. 
                                                    Photography: Corporate photo shoots, product photography, Adverting photography, photo editing.
                                                    Multimedia: Equipment Procurement and installation, Multimedia Consulting. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap mcb-wrap-j4vu360h6 one-second valign-middle clearfix" style="padding:0 2%">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column mcb-item-txaaqescp one column_image">
                                            <div class="animate" data-anim-type="fadeInUp">
                                                <div class="image_frame image_item no_link scale-with-grid no_border">
                                                    <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/hosting2-home-icon-4.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div hidden class="section hidden mcb-section mcb-section-4b19a981d no-margin-v equal-height-wrap" style="padding-top:50px; padding-bottom:125px; background-color:#ffffff">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap mcb-wrap-337de0d30 one-third valign-top clearfix" style="padding:20px 2% 40px">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column mcb-item-d60586ac9 one column_image">
                                            <div class="animate" data-anim-type="fadeInLeft">
                                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border" style="margin-bottom:20px;">
                                                    <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/hhosting2-home-basic.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column mcb-column mcb-item-4526ef68e one column_column">
                                            <div class="column_attr clearfix align_center mobile_align_center">
                                                <h3>Basic</h3>
                                                <h2 class="themecolor">$<b>19</b></h2>
                                                <hr class="no_line" style="margin: 0 auto 30px;" /> Vivamus in diam turpis. In condimentum maximus tristique.
                                                <hr class="no_line" style="margin: 0 auto 30px;" /> Mauris rhoncus orci
                                                <hr class="no_line" style="margin: 0 auto 8px;" />
                                                <hr> Lorem ipsum dolor sit amet
                                                <hr class="no_line" style="margin: 0 auto 8px;" />
                                                <hr> Dolor
                                                <hr>
                                                <hr class="no_line" style="margin: 0 auto 8px;" /> Quantum
                                                <hr>
                                                <hr class="no_line" style="margin: 0 auto 8px;" /> Consecetur es omnia
                                                <hr class="no_line" style="margin: 0 auto 40px;" />
                                            </div>
                                        </div>
                                        <div class="column mcb-column mcb-item-539253ce7 one column_button">
                                            <div class="button_align align_center">
                                                <a class="button scroll button_size_3 button_js" href="assets/offer.html" style="background-color:#01ddd2!important;color:#fff;"><span class="button_label">View more details</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap mcb-wrap-cccc88f5e one-third valign-top clearfix" style="padding:20px 2% 40px; background-color:#01ddd2">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column mcb-item-9f3860abe one column_image">
                                            <div class="animate" data-anim-type="fadeInUp">
                                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border" style="margin-bottom:20px;">
                                                    <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/hhosting2-home-standard.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column mcb-column mcb-item-04cb581bb one column_column">
                                            <div class="column_attr clearfix align_center mobile_align_center">
                                                <h3 style="color:#fff;">Standard</h3>
                                                <h2 style="color:#fff;">$<b>39</b></h2>
                                                <hr class="no_line" style="margin: 0 auto 30px;" />
                                                <span style="color:#fff;">Vivamus in diam turpis. In condimentum maximus tristique.</span>
                                                <hr class="no_line" style="margin: 0 auto 30px;" />
                                                <span style="color:#fff;">Mauris rhoncus orci</span>
                                                <hr class="no_line" style="margin: 0 auto 8px;" />
                                                <hr>
                                                <span style="color:#fff;">Lorem ipsum dolor sit amet</span>
                                                <hr class="no_line" style="margin: 0 auto 8px;" />
                                                <hr>
                                                <span style="color:#fff;">Dolor</span>
                                                <hr>
                                                <hr class="no_line" style="margin: 0 auto 8px;" />
                                                <span style="color:#fff;">Quantum</span>
                                                <hr>
                                                <hr class="no_line" style="margin: 0 auto 8px;" />
                                                <span style="color:#fff;">Consecetur es omnia</span>
                                                <hr class="no_line" style="margin: 0 auto 40px;" />
                                            </div>
                                        </div>
                                        <div class="column mcb-column mcb-item-9495b4af3 one column_button">
                                            <div class="button_align align_center">
                                                <a class="button scroll button_size_3 button_js" href="assets/offer.html" style="background-color:#ffffff!important;color:#000;"><span class="button_label">View more details</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap mcb-wrap-741333cdb one-third valign-top clearfix" style="padding:20px 2% 40px">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column mcb-item-ae103cf9d one column_image">
                                            <div class="animate" data-anim-type="fadeInRight">
                                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border" style="margin-bottom:20px;">
                                                    <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/hhosting2-home-expert.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column mcb-column mcb-item-ae4a51162 one column_column">
                                            <div class="column_attr clearfix align_center mobile_align_center">
                                                <h3>Pro</h3>
                                                <h2 class="themecolor">$<b>99</b></h2>
                                                <hr class="no_line" style="margin: 0 auto 30px;" /> Vivamus in diam turpis. In condimentum maximus tristique.
                                                <hr class="no_line" style="margin: 0 auto 30px;" /> Mauris rhoncus orci
                                                <hr class="no_line" style="margin: 0 auto 8px;" />
                                                <hr> Lorem ipsum dolor sit amet
                                                <hr class="no_line" style="margin: 0 auto 8px;" />
                                                <hr> Dolor
                                                <hr>
                                                <hr class="no_line" style="margin: 0 auto 8px;" /> Quantum
                                                <hr>
                                                <hr class="no_line" style="margin: 0 auto 8px;" /> Consecetur es omnia
                                                <hr class="no_line" style="margin: 0 auto 40px;" />
                                            </div>
                                        </div>
                                        <div class="column mcb-column mcb-item-bda30e82d one column_button">
                                            <div class="button_align align_center">
                                                <a class="button scroll button_size_3 button_js" href="assets/offer.html" style="background-color:#01ddd2!important;color:#fff;"><span class="button_label">View more details</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>