
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section mcb-section-z2fe7wnrc" style="padding-top:200px; padding-bottom:75px; background-image:url(assets/images/hosting2-home-slider-bg.jpg); background-repeat:no-repeat; background-position:right top;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-y7pij1p1z one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-fbupxujcq two-fifth column_column">
                                    <div class="column_attr clearfix">
                                        <h2>Our Services
                                            <!-- <br> quantum tore</h2> -->
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-70cwx3d6r one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 100px;" />
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-rvmkosy32 one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-43bwjptya one-second column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/hosting2-offer-icon-1.png" />
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-ych3v6wis one-second column_column">
                                    <div class="column_attr clearfix" style=" padding:0 5%;">
                                        <h3>Digital Signage</h3>
                                        <p>
                                            Digital Signage is a network of customizable displays that can be controlled electronically using a computer, allowing content to be changed remotely for the most targeted messaging possible. Digital signage is used for a wide variety of purposes including customer facing and employee-facing applications such as advertising, enhancing customer or employee experiences, influencing audience behavior, brand building, entertainment, security, interactive kiosks, creating corporate communities, etc. 
                                            <!-- They can be used in several industries such as healthcare, hospitality, education, restaurants, insurance, banking, retail, transportation, government etc. Signcom Africa provides and operates a cloud based digital signage system. We are focused on three digital signage solutions, these are digital signage indoor advertising, Digital signage internal communications and digital menu boards. Consulting, procurement and installation services are also provided. -->
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 15px;" />
                                        <!-- <a class="button button_size_2 button_js" href="company.html" style="background-color:#c4c3f7!important;color:#171d70;"><span class="button_label">Discover more</span></a> -->
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-l0qsw0nat one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 100px;" />
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-8ax4f6xqj one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-rxkxkblqn one-second column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/hosting2-offer-icon-2.png" />
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-gignne7dk one-second column_column">
                                    <div class="column_attr clearfix" style=" padding:0 2%;">
                                        <h3>Social medial management & marketing.</h3>
                                        <p>
                                        Business communication today is far from what it was ten years ago, and the power of social media on influencing the behaviour of people positively towards  your product or service is paramount. Social media has provided a means for companies to easily reach their customers or prospective customers in real time, giving them the ability to respond to the questions of customers in time and providing them with the appropriate solutions. However this enormous potential of social many businesses are not able to take advantage of it. this is because efficient and effective social media management is demanding, a full-time job and not the core competence of the company. Signcom Africa provides the services of social media management to prospective companies all sizes in Accra and in Ghana, all done remotely. 
                                        Signcom Africa helps with the management of the company brand presence online specifically on the social media platform chosen by the company. 
                                        Signcom Africa provides services such as consulting with the company to know their goals and current state on social media, their target audience, their communication approval hierarchy and their budgets. 
                                        <!-- All these influence the social media platforms we advice them to choose, the kind of contents that are posted and the frequency of these posts. other services involved are creating engaging social content, Integrating social media activities into other marketing plans of the company, promotions and social campaigns, Sustained monitoring, analytics, Assessments and implementations. Also a three months social media calendar will be drawn up show casing how the company social media marketing strategy will be executed.   -->

                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 15px;" />
                                        <!-- <a class="button button_size_2 button_js" href="company.html" style="background-color:#c4c3f7!important;color:#171d70;"><span class="button_label">Discover more</span></a> -->
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-r47c8gdq1 one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 100px;" />
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-e6ov1hdg9 one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-n8qbc8a36 one-second column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="assets/images/hosting2-offer-icon-3.png" />
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-sta1fhqk8 one-second column_column">
                                    <div class="column_attr clearfix" style=" padding:0 5%;">
                                        <h3>IT Services.</h3>
                                        <p>
                                            Signcom Africa provides web and content creation services such as graphic designs, website design, app development, videography and photography services for corporate organizations. These contents are created for several projects online and offline, they include branded contents for social media posts or advertising campaign artwork designs, videos, photography. Brand identity design services are available such as designing logos, letter heads, business cards, branded mockups for shirts, mugs, cars etc.
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 15px;" />
                                        <!-- <a class="button button_size_2 button_js" href="company.html" style="background-color:#c4c3f7!important;color:#171d70;"><span class="button_label">Discover more</span></a> -->
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-mcgqi32s5 one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 50px;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>